<!doctype html>
<html lang="fa">
<head>
  <meta charset="utf-8">
  <title>آپلود ویدیو</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>صفحه اصلی</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul style="color:red;">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="post" enctype="multipart/form-data">
    <label>انتخاب فایل ویدیو:</label><br>
    <input type="file" name="video" accept="video/*" required><br><br>
    <button type="submit">آپلود و تشخیص از ویدیو</button>
  </form>
</body>
</html>
