<!doctype html>
<html lang="fa">
<head>
  <meta charset="utf-8">
  <title>ورود | چاویر</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="login-box">
    <h2>چاوێر</h2>
    <h3>سامانه تشخیص پلاک</h3>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="messages">
          <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    <form method="post">
      <input type="text" name="username" placeholder="نام کاربری" required value="admin">
      <input type="password" name="password" placeholder="رمز عبور" required value="admin">
      <button type="submit">ورود</button>
    </form>
  </div>
</body>
</html>
